@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@2,400;2,500;0,600;0,700;0,800;1,300&family=Roboto+Slab:wght@200;300;400;500;700&display=swap');

h2,h3 {
    font-family: 'Open Sans', sans-serif;
	font-size: 2rem; 
	font-weight: 300; 
	font-style: normal;
	color: rgb(0, 0, 0); 
	text-align: center; 
	margin-bottom: 30px; 
}

h2{
	font-size: 2rem;
	margin-bottom: 30px;
}

h3{
	font-size: 1.5rem;
	margin-bottom: 10px;
} 

p{
	font-family: 'Roboto Slab', serif;
	font-size: 1.1rem; 
	font-weight: 300; 
	font-style: normal;
	color: rgb(0, 0, 0); 

} 
/* === navbar ===*/ 
.navbar-light .navbar-nav .nav-item .nav-link{
	font-family: 'Roboto Slab', serif;
	font-size: 1.1rem; 
	font-weight: 300; 
	font-style: normal;
	color: rgb(255, 255, 255);

}

/* === navbar ===*/ 
.navbar-light .navbar-brand{
	background-image: url(../images/wisdompetlogo.svg);
	background-repeat: no-repeat;
	padding-left: 110px;
	display: block;
	font-family: 'Open Sans' , sans-serif;
	font-size: 1.8rem; 
	font-weight: 300; 
	font-style: normal;
	color: rgb(255, 255, 255);

} 

.subhead{
	display: block;
	font-family: 'Roboto Slab' , serif;
	font-size: 1.1rem; 
	font-weight: 300; 
	font-style: normal;
	color: rgb(255, 255, 255);

} 

.navbar-light .navbar-brand:hover{
	color: rgb(255, 255, 255);
}



/* === mission page ===*/ 
#mission { 
	padding: 30px 0px;  
	background-color: rgb(228, 210, 157);
	background-image: -webkit- linear-gradient(270deg, rgb(238, 240, 138) 0%, rgb(129, 154, 45) 100%);
	background-image: -moz- linear-gradient(270deg, rgb(238, 240, 138) 0%, rgb(129, 154, 45) 100%);
	background-image: -o- linear-gradient(270deg, rgb(238, 240, 138) 0%, rgb(129, 154, 45) 100%);
	background-image: linear-gradient(180deg, rgb(238, 240, 138) 0%, rgb(129, 154, 45) 100%);
	border-top: 25px solid rgba(238, 200, 86, .5); 

} 

/* === services page ===*/ 
#services{
	padding: 30px 0;
}

article{
	text-align: center;
	margin-bottom: 20px;
}

#staff {
    padding: 30px 0;
    background-color: #497900;
    background-image: -webkit- linear-gradient(270deg, rgb(228, 210, 157) 0%, rgb(205, 174, 80) 100%);
    background-image: -moz- linear-gradient(270deg, rgb(228, 210, 157) 0%, rgb(205, 174, 80) 100%);
    background-image: -o- linear-gradient(270deg, rgb(228, 210, 157) 0%, rgb(205, 174, 80) 100%);
    background-image: -webkit-linear-gradient(270deg,rgba(42,132,0,0.90) 0%,rgba(53,73,2,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(42,132,0,0.90) 0%,rgba(53,73,2,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(42,132,0,0.90) 0%,rgba(53,73,2,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(42,132,0,0.90) 0%,rgba(53,73,2,1.00) 100%);
    border-top: 25px solid rgba(228, 210, 157, 0.5);
}
#services img {
	max-width: 80px; 
}

#staff img {
	max-width: 100%; 
	border-radius: 50%; 
} 

#staff h3 {
	text-align: left;
	font-weight: 600;
	color: rgb(111, 78, 54); 
}

.doctor {
	margin-bottom: 30px; 
}

#janeh {
    background-image: url("../images/f1.jpg");
	background-size: cover;
	background-position-x: center;
}

#mcphersons {
    background-image: url("../images/f2.jpg");
	background-size: cover;
	background-position-x: center;
} 

#johnb {
    background-image: url("../images/f3.jpg");
	background-size: cover;
	background-position-x: center;
}

#lorraines {
    background-image: url("../images/f4.jpg");
	background-size: cover;
	background-position-x: center;
} 

blockquote {
	min-height: 450px;
	position: relative;
	margin-bottom: 0;
}

.quote {
	width: 75%;
	background-color: rgba(255, 255, 255, 0.50);
	position: absolute;
	bottom: 0;
	left: 0; 
	border-top-right-radius: 30px;
	padding: 10px 5%; 
}

.quote:hover{
	background-color: rgba(236, 228, 123, 0.65);

}

.intro{
	font-family: 'Roboto Slab', serif;
	font-size: 1.4rem; 
	font-weight: 400; 
	font-style: normal;
	color: rgb(0, 0, 0);
	display: block;
	line-height: 130%;
}

.more{
	font-family: 'Roboto Slab', serif;
	font-size: 0rem; 
	font-weight: 300; 
	font-style: normal;
	color: rgb(0, 0, 0);
	display: block;
	line-height: 130%;
} 

.customer{
	display: none; 
} 

.quote:hover .more{
	font-size: 0.9rem; 
} 

.intro::after{
	content: "...";
}

.quote:hover .intro::after{
	content: ""; 
}
 #testimonials h2 {
	display: none;
}

/* === footer === */ 

footer {
	background-color: rgb(6, 147, 157); 
	font-family: 'Roboto Slab', serif;
	font-size: 1rem; 
	font-weight: 300; 
	font-style: normal;
	color: rgb(255, 255, 255);
	padding: 15px 0; 
} 

footer p{
	margin-bottom: 2; 
	font-family: 'Roboto Slab', serif;
	font-size: 1.4rem; 
	font-weight: 300; 
	font-style: normal;
	color: rgb(255, 255, 255);
} 

.phone{
	font-family: 'Roboto Slab', serif;
	font-size: 1.4rem; 
	font-weight: 400; 
	font-style: normal;
	color: rgb(254, 239, 176);
} 